
.home-content {
  background-color: #fdfaf2; 
  min-height: 100vh;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}


.hero-title {
  color: #3e2719;
  font-weight: 700;
  font-size: 2.8rem;
  line-height: 1.2;
}

.hero-description {
  color: #3e2719;
  font-size: 1.1rem;
  margin-top: 1.5rem;
  max-width: 90%;
}

.hero-image-container img {
   transform: scale(1.1); 
  transition: transform 0.3s; 
}


.btn-brown {
  background-color: #42210b !important;
  color: white !important;
  border: none !important;
}

.btn-brown:hover {
  background-color: #2e1708 !important;
  color: white !important;
}

.btn-coral {
  background-color: #f09b7a !important;
  color: white !important;
  border-radius: 50px !important;
  border: none !important;
}

.btn-coral:hover {
  background-color: #d88a6d !important;
  color: white !important;
}


.card-custom {
  position: relative;
  border-radius: 4px; 
  overflow: hidden;
  box-shadow: 0 4px 15px rgba(0,0,0,0.1);
  aspect-ratio: 1 / 1; 
}

.card-img-custom {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}

.card-text-overlay {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  padding: 1.5rem;
  background: linear-gradient(transparent, rgba(0, 0, 0, 0.7));
  color: white;
}

.card-text-overlay h5 {
  margin: 0;
  font-weight: 400;
  letter-spacing: 1px;
}