.personajes-section {
  background-color: #fcfbf4; 
}

.section-title {
  color: #3e2719;
  font-weight: 700;
  font-size: 2.5rem;
}


.character-list-container {
  background-color: #a65e3e;
  min-height: 400px;
}

.character-item {
  cursor: pointer;
  transition: background 0.3s;
}

.character-item.selected {
  background-color: #3e2719; 
}

.mini-avatar {
  width: 60px;
  height: 60px;
  min-width: 60px;
  object-fit: cover;
  border: 2px solid white;
  border-radius: 50%;
}

.mini-avatar-empty {
  width: 60px;
  height: 60px;
  background-color: #ccc;
}


.character-detail-card {
  background-color: #f29f76; 
  color: #3e2719;
}

.detail-img-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  overflow: hidden;
  background-color: rgba(0,0,0,0.05);
  border-radius: 25px;
}

.detail-img-container img {
  width: auto;
  max-width: 100%;
  height: 400px;
  object-fit: contain;
  display: block;
}

.detail-description {
  font-size: 1.1rem;
  line-height: 1.5;
  color: #3e2719;
}
